body{
	background-color: magenta;
}
#top{
	text-align: center;
	color: darkblue;
}
p,ol,ul{
	color: blue;
	font-family: arial;
	width:90%;
}
a{
	color: coral;
}
post{
	text-align: right;
	width: 150px;
}
#vvv{
	color: darkblue;
}
#nano{
	color: darkblue;
}
span{
	color: red;
}
img{
	width: 40%;
}
header{
	color: green;
}